<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cineman</title>
    <script src="static/front.js"></script>
    <style>
        hr {
        border: none;
        background-color: green;
        height: 1px;
        }
    </style>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="movieTitle">
        <input type="submit" title="Find">
    </form>
    <hr>
    {{ title[] }}
    <hr>
    {{ description[] }}
    <hr>
    {{ year[] }}
    <hr>
    {{ critic[] }}
    <hr>
</body>
</html>